/*  STYLES FOR "TOP-BAR" MODULE */
body {
    padding-top: 4.64rem;
}
.navbar-toggler-right {
	position: absolute;
	right: 4rem;
}
/*custom bd for mobile nav*/
.collapse.show{
  background: #FFFFFF !important;
}

.custom-toggler.navbar-toggler {
    padding: 1.25rem 0.75rem !important;
}

.navbar-toggler:focus,
.navbar-toggler:active {
    outline: 0;
}

.navbar-toggler {
   display: inline-block;
   position: relative;
}

.navbar-toggler span {
   display: block;
   background-color: #333;
   height: 2px;
   width: 20px;
   margin-top: 4px;
   margin-bottom: 4px;
   margin-left: 4px;
   -webkit-transform: rotate(0deg);
   -moz-transform: rotate(0deg);
   -o-transform: rotate(0deg);
   transform: rotate(0deg);
   position: relative;
   left: 0;
   opacity: 1;
}

.navbar-toggler span:nth-child(1),
.navbar-toggler span:nth-child(3) {
   -webkit-transition: .35s ease-in-out;
   -moz-transition: .35s ease-in-out;
   -o-transition: .35s ease-in-out;
   transition: .35s ease-in-out;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
    position: absolute;
    left: 13px;
    top: 14px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    opacity: 0.9;
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
    height: 12px;
    visibility: hidden;
    background-color: transparent;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
    position: absolute;
    top: 14px;
    left: 13px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
    opacity: 0.9;
}
/*.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(81, 77, 106, 1)' stroke-width='4' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}*/
/*end*/

.nav__top-bar__left .dropdown-menu {
	top: 99% !important;
	left: -0.05rem !important;
  border-radius: 0rem !important;
}
.nav__top-bar__right .cat__top-bar__avatar-dropdown .dropdown-menu{
	top: 99% !important;
	border-radius: 0rem !important;
}
.cat__invisible{display: none;
-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.content__margin{margin-top: -4.64rem;
-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
	}
.cat__top-bar {
	position: fixed;
    z-index: 990;
    top: 0;
    left: 0;
    right: 0;
    height: 4.64rem;
    background: #ffffff;
    border-bottom: 1px solid #e4e9f0;
    padding-right: 1.42rem;
    color: #74708d;
}

.cat__top-bar__logo {
    width: 15.28rem;
    height: 4.64rem;
    display: inline-block;
    padding: 1rem 1.28rem;
    margin-right: 1.42rem;
}

.cat__top-bar__logo img {
    max-height: 2.5rem;
}

.cat__top-bar__avatar {
    width: 2.5rem;
    height: 2.5rem;
    background-color: #eef0f4;
    border-color: #d2d9e5;
    display: inline-block;
    overflow: hidden;
    -webkit-border-radius: 500px;
    border-radius: 500px;
}

.cat__top-bar__avatar img {
    width: 100%;
    height: auto;
}

.cat__top-bar__avatar-dropdown .dropdown-toggle {
    padding-right: 1.28rem;
    display: inline-block;
}

.cat__top-bar__avatar-dropdown .dropdown-toggle:after {
    position: absolute;
    top: 50%;
    margin-top: -0.08rem;
    right: 0rem;
}

.cat__top-bar__left {
    float: left;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
}

.nav__top-bar__left .cat__top-bar__item {
    /*margin-right: 2.14rem;*/
	padding-left: 1.14rem;
	padding-right: 1.14rem;
}

.nav__top-bar__right .cat__top-bar__item {
    margin-right: 2.14rem;
	border: 0 none;
}


.cat__top-bar__right {
    float: right;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
}

.nav__top-bar__right .cat__top-bar__item {
    margin-left: 0rem;
}

.cat__top-bar__item {
	padding-top: 0.50rem;
	/* border-right: 1px solid; */
	border-left: 1px solid;
	border-color: #e4e9f0;
	line-height: 19px;
}

.cat__top-bar__item:hover{
	/*background: #e4e9f0 !important;
  background: #0e0b20 !important;*/
	color: #454354 !important;
}
.cat__top-bar__item .active{
	/*background: #e4e9f0 !important;
  background: #0e0b20 !important;*/
	color: #454354 !important;
}
.cat__top-bar__item:hover i{
	color: #454354 !important;
}
.cat__top-bar__item .active i{
	color: #454354 !important;
}
.cat__top-bar__item .dropdown .open i{
	color: #454354 !important;
}
/*.cat__top-bar__item:hover{
	background: #e4e9f0;
	color: #454354;
}*/

.border__left_1{
	border-left: 1px solid;
	border-left-color: #e4e9f0;
}

.border__right_1{
	border-right: 1px solid;
	border-right-color: #e4e9f0;
}

.border__none {
    border-right: none;
}

.padding__left__none{
	padding-left: 0 none;
	margin-left: 0 none;
}

.cat__top-bar__mini-chart {
    height: 2.14rem;
    line-height: 2.14rem;
}

.cat__top-bar__mini-chart__inner {
    height: 80%;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    vertical-align: sub;
    margin: 0 0.35rem;
}

.cat__top-bar__mini-chart__inner i {
    display: inline-block;
    float: left;
    width: 4px;
    background: #0190fe;
    margin-right: 1px;
    -webkit-align-self: flex-end;
        -ms-flex-item-align: end;
            align-self: flex-end;
}

.cat__top-bar__menu-button {
    cursor: pointer;
    height: 2.14rem;
    padding-top: 0.28rem;
    color: #d2d9e5;
    font-size: 1.14rem;
    -webkit-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
}

.cat__top-bar__menu-button:hover {
    color: #b8beca;
}

.cat__top-bar__search {
    border-bottom: 1px solid #e4e9f0;
    margin-top: 0.28rem;
}

.cat__top-bar__search input {
    border: none;
    position: relative;
    top: -1px;
    opacity: .6;
    width: 11.42rem;
}

.cat__top-bar__search input:focus {
    opacity: 1;
}

.cat__top-bar__search i {
    cursor: pointer;
    color: #d2d9e5;
    margin-right: 0.35rem;
}

.cat__top-bar__search i:hover {
    color: #615d7c;
}

/*  NOTIFICATION BLOCK (TOP MENU) */
.cat__top-bar__activity {
    width: 20.71rem;
    margin: -0.5rem 0;
    background: #ffffff;
}

.cat__top-bar__activity__item {
    border-bottom: 1px solid #e4e9f0;
    padding: 0.71rem 0;
    position: relative;
}

.cat__top-bar__activity__item:last-child {
    border-bottom: 0;
}

.cat__top-bar__activity__item:hover {
    background: #eef0f4;
}

.cat__top-bar__activity__item:hover .cat__top-bar__activity__icon {
    background: #c0bdd0;
    color: #ffffff;
    border-color: #c0bdd0;
}

.cat__top-bar__activity__icon {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding-top: 0.85rem;
    font-size: 1.14rem;
    width: 2.85rem;
    text-align: center;
    color: #d2d9e5;
    background: #f2f4f8;
    border-bottom: 1px solid #eef0f4;
}

.cat__top-bar__activity__inner {
    margin-left: 3.57rem;
    padding-right: 1.07rem;
}

.cat__top-bar__activity__inner label {
    font-size: 0.85rem;
}

.cat__top-bar__activity__descr {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.cat__top-bar__activity__title > span {
    font-size: 0.92rem;
    color: #d2d9e5;
}
